# Composer and PHP related files
/vendor/
.phpunit.cache
.phpunit.result.cache
.phpactor.json
*.key

# Node.js related files
/node_modules/
/npm-debug.log
/yarn-error.log

# Environment files
.env
.env.backup
.env.production

# Laravel specific
/public/storage
/storage/*.key
/storage/pail
/.platform
/.ebextensions

# Public build assets
/public/build
/public/hot

# IDE and editor files
/.idea/
/.vscode/
/.phpstorm/
/.nova
/.zed

# macOS system files
.DS_Store
.DS_Store?
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
Icon?

# Miscellaneous system and app files
ehthumbs.db
auth.json
Homestead.json
Homestead.yaml
/.fleet
*.zip
